<div class="jumbotron">
    <h1 class="display-3 text-dark">Task Manager</h1>
    <p class="lead">This is a simple task manager application, which includes adding, displaying, updating and deleting tasks.
      It is an application based on MEAN stack in which full front end is created using angular and RESTful APIs are 
      used to communicate with the MongoDB database. We have used Bootstrap for styling in this application.
    </p>
    <hr class="my-4">
      <h4 class="text-dark"><strong>Skills Used- ANGULAR, NODEJS, EXPRESS, MONGODB, MONGOOSE, TYPESCRIPT, HTML, CSS, BOOTSTRAP </strong></h4>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>